@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/tabler-icons.min.css';

body {
	background-color: #f3f3f3;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	min-height: 100vh;
}

.app-icon {
	font-family: 'tabler-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.react-grid-item.react-grid-placeholder {
	background-color: #454545 !important;
	border-radius: 8px !important;
}

.react-resizable-handle {
	background: none !important;
	margin: 0 3px 3px 0;
}

@media (prefers-color-scheme: dark) {
	.react-grid-item.react-grid-placeholder {
		background-color: #f1f1f1 !important;
		border-radius: 8px !important;
	}
	.react-resizable-handle::after {
		border-color: rgba(255, 255, 255, 0.7) !important;
	}
}
